{% extends "base.html" %}
{% block content %}


        <br><br>  <a href="/add/offers"><button class="btn btn-secondary">Създаване на оферта</button></a><br><br><br>

  <div class="card-deck">


{% for offer in offers %}


  <div class="card">
      <img class="card-img-top" src="/static/offers/{{ offer.id }}.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ offer.name }}</h5>
        <p class="card-text">{{ offer.description | safe }}</p>
      </div>

        <div class="card-footer">
        <a href="/admin/offers/edit/{{ offer.id }}"><h6 style="margin-bottom: 0; text-align: center; align-content: center; align-items: center">Редактиране</h6></a>
      </div>
    </div>


{% endfor %}

</div>
    <br><br><br><br><br>

{% endblock %}