<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touristo</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Touristo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Начало</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Дестинации
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/category/eucap">Европейски столици</a>
                  <a class="dropdown-item" href="/category/exotic">Екзотични дестинации</a>
                  <a class="dropdown-item" href="/category/bg">Екскурзии в България</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">За нас</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Контакт</a>
            </li>
          </ul>
          {% if not user.is_authenticated %}
          <div class="form-inline my-2 my-lg-0">
            <a href="/login"><button style="margin-right: 6px" class="btn btn-outline-success my-2 my-sm-0">Вход</button></a>
            <a href="/sign-up"><button class="btn btn-outline-success my-2 my-sm-0">Регистрация</button></a>
          </div>
            {% else %}
            
            <div class="form-inline my-2 my-lg-0">
                {% if user.admin == True %}
                <a href="/admin"><button style="margin-right: 6px" class="btn btn-outline-success my-2 my-sm-0">Администрация</button></a>
                {% endif %}
              <a href="/profile"><button style="margin-right: 6px" class="btn btn-outline-success my-2 my-sm-0">Профил</button></a>
              <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">Изход</button></a>
            </div>
            {% endif %}
        </div>
      </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        <i class="fa-solid fa-square-check"></i> {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="container-fluid" style="min-height: 50vh;">
    {% block content %}{% endblock %}
</div>



<footer class="text-center text-lg-start bg-white text-muted">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i> Touristo
            </h6>
            <p>
              Резервирайте вашата почивка сега!
            </p>
          </div>
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Контакти</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> ул. "Студентска" №1</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@example.com
            </p>
           <!-- <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p> -->
            <!-- <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>  -->
          </div>
        </div>
      </div>
    </section>
    <br>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        All prices presented are in BGN. <br>
    Touristo © 2023
    </div>
  </footer>

</body>
</html>